.terms-container {
  padding: 30px 50px;
  background: #2c3e50;
  color: white;
}

.terms-container h1,
.terms-container h2,
.terms-container h3 {
  padding: 20px 0;
}

.terms-container h1,
.terms-container h2,
.terms-container h3 {
  text-decoration: underline;
}

.terms-container p,
.terms-container li {
  line-height: 40px;
}

.terms-container a {
  color: gray;
  text-decoration: underline;
}
