.team-container {
  height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 20px;
  background-position: center center;
  overflow: hidden; 
  position: relative;
  background-image: url("./assets/back.jpg");
  background-repeat: no-repeat;
  
}

/* .team-container::before {
  background-image: url("./assets/back.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: -1;
} */


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: linear-gradient(to right,  #CB34D7, #FF6100);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}


.team-container h2 {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-size: 40px;
}

.team-cards {
  padding: 90px 0;
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: 20px;
  justify-content: center;
  overscroll-behavior-x: contain;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

.team-card {
  min-width: 350px;
  min-height: 300px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
}

.team-card h3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 20px 0;
  text-decoration: underline;
}

.team-card h4 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 8px 0;
}

.pic {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.team-botshelo .pic {
  background-image: url("./assets/Botshelo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .team-aaqil .pic {
  background-image: url("./assets/Aaqil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.team-khethelo .pic {
  background-image: url("./assets/Khethelo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.team-sean .pic {
  background-image: url("./assets/Sean.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .team-cards {
    flex-direction: row;
    justify-content: start;
    padding-left: 10px;
    padding-right: 10px;
  }
  .team-cards::-webkit-scrollbar {
    display: none;
  }
  .team-card {
    margin: 20px auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .team-container{
    background-position: center center;
  }
  .team-cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .team-cards::-webkit-scrollbar {
    display: none;
  }
  .team-card {
    margin: 20px auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .team-container{
    background-position: center center;
  }
  .team-cards {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: start;
  }
  .team-cards::-webkit-scrollbar {
    display: none;
  }
  .team-card {
    margin: 20px auto;
    flex: 0 0 auto;
  }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .team-container h2 {
    font-size: 30px;
  }
  .team-cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .team-cards::-webkit-scrollbar {
    display: none;
  }
  .team-card {
    margin: 20px 5%;
    min-width: 320px;
    min-height: 400px;
  }
  .team-card h3 {
    font-size: 25px;
    text-align: center;
  }
  .team-card h4 {
    justify-content: center;
    text-align: center;
  }
}
