.nav-bar {
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
}

.nav-logo h1 {
  font-size: 23px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "Earth-Obiter";
  background: linear-gradient(
    to right,
    #13c2e9,
    #3ab6ec,
    #5ca8e8,
    #799adf,
    #908bd0,
    #a480c7,
    #b873b9,
    #c866a6,
    #de5890,
    #ee4c73,
    #f4484f,
    #f05123
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.nav-logo img {
  object-fit: contain;
  width: auto;
  height: 50px;
  padding-left: 30px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-items li {
  padding: 0 30px;
}

.nav-items li a {
  align-items: center;
  color: black;
}

.li-quote a {
  background-color: #CB34D7;
  border-radius: 20px;
  padding: 7px 15px;
  color: white;
}


.li-quote a:hover {
  background-color: #FF6100;
  transition: ease-in-out 0.5s;
  color: white;
}

.MobileNavigation {
  display: none;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .Navigation {
    display: none;
  }
  .MobileNavigation {
    display: grid;
    flex-direction: column;
    align-items: center;
  }
  .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
    align-items: center;
    font-size: 50px;
    top: 20%;
    align-items: center;
  }
  .nav-items {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    border-top: 2px solid #908bd0;
  }
  .nav-items li {
    padding: 15px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .nav-logo h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-logo h1 {
    font-size: 16px;
  }
  .nav-logo img {
    height: 30px;
  }
  .Hamburger {
    font-size: 35px;

    align-items: center;
  }
}
